appdirs==1.4.3
asgiref==3.2.7
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
Django==3.0.7
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.4.0
mysqlclient==1.4.6
PyMySQL==0.9.3
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
uWSGI==2.0.18
virtualenv==20.0.18
zipp==3.1.0
